.landing {
  height: 80vh;
  padding: 0 50px 0 50px;
}

.logo {
  padding: 1rem 0 0 0;
  width: 7rem;
  height: 7rem;
  vertical-align: middle
}

.p2{
  vertical-align: bottom;
  font-size:14pt;
  color: black;

}
#my-login-button-target{
  visibility: hidden;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
